<nz-table #nzTable [nzFrontPagination]="false" [nzShowPagination]="false" [nzData]="listOfDisplayData">
  <thead>
    <tr>
      <th nzShowSort [(nzSort)]="mapOfSort.createdOn" (nzSortChange)="sort('createdOn', $event)">交易時間</th>
      <th>數位帳戶</th>
      <th nzCustomFilter>
        交易序號
        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
          <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
            nz-dropdown></i>
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzShowSort [(nzSort)]="mapOfSort.in" (nzSortChange)="sort('in', $event)">轉進</th>
      <th nzShowSort [(nzSort)]="mapOfSort.out" (nzSortChange)="sort('out', $event)">轉出</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.createdOn }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.id }}</td>
      <td>{{ data.in }}</td>
      <td>{{ data.out }}</td>
    </tr>
  </tbody>
</nz-table>